{% load crispy_forms_tags %}
<!DOCTYPE html>

<html lang="en">
<head>
  	<title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        table, th, td {
            border: 1px solid;
        }
        .center {
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
        }
        form { 
            margin: 0 auto; 
            width:250px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div style="background-color:lavender; !important" class="jumbotron text-center bg-primary">
            <h2> {{title}}:</h2>
    </div>
    <div class="row">
					
        <div class="column" style=" margin-left: 50px;float: left;
        width: 75%;">
        <table class="center">
            <colgroup>
                <col span="1" >
                <col span="2">
                <col span="1">
                <col span="1">
                <col span="1" >
                <col span="1">
                <col span="1">
                <col span="1">
            </colgroup>
            <tr>
                {% for hd in header_list %}
                <th> {{hd}} </th>
                {% endfor %}
            </tr>
            {% for row in results %}
            <tr>
                {% for value in row %}
                <td style="width:10%">
                    {{value}}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        </div>
        {% if gotForm%}
        <div class="column" style="float: left;
        width: 20%;">
        <!-- TODO: make action function and button name variable!!!!!!!!! -->
            <form class="form-group" method="POST" novalidate action="{% url 'addGrade' %}">
                {{addGradeForm|crispy}}
                {% csrf_token %}
                <button type="submit" style="margin-top: 10px;"class="btn btn-success">Add Grade</button>	
            </form> 
        </div>
        {% endif %}
</body>
</html>